:root {
    --building-color1: #aa80ff;
    --building-color2: #66cc99;
    --building-color3: #cc6699;
    --building-color4: #538cc6;
    --window-color1: black;
    --window-color2: #8cd9b3;
    --window-color3: #d98cb3;
}

* {
    border: 1px solid black;
    box-sizing: border-box;
}

body {
    /* make body fill whole viewport */
    height: 100vh;
    /* remove default margin */
    margin: 0;
    /* hide scroll bars that appear when something extends past viewport */
    overflow: hidden;
}

/* top 0 and position absolute set the containers to begin at the top left of the viewport */ 
.background-buildings, .foreground-buildings {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.bb1-window {
    height: 10%;
    background: linear-gradient(
        var(--building-color1),
        var(--window-color1)
    );
} 

.bb1 {
    height: 70%;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bb1a {    
    width: 70%;        
}

.bb1b {    
    width: 80%;    
}

.bb1c {
    width: 90%;    
}

.bb1d {
    height: 70%;
    width: 100%;    
    background: linear-gradient(var(--building-color1) 50%, var(--window-color1)); 
}

.bb1-window {
    height: 10%;
    background: linear-gradient(
        var(--building-color1),
        var(--window-color1)
        );
}

.bb2 {
    height: 50%;
    width: 10%;    
}

.bb2a {    
    border-bottom: 5wh solid var(--buildings-color2);
    border-left: 5vw solid transparent;
    border-right: 5vw solid transparent;
}

.bb2b {
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        var(--building-color2) 0%,
        var(--building-color2) 6%,
        var(--window-color2) 6%,
        var(--window-color2) 9%
    );
}

.bb3 {
    height: 55%;
    width: 10%;
    background-color: var(--building-color3, pink);
}

.bb4 {
    height: 58%;
    width: 11%;
    background-color: var(--building-color4, blue);
}

.fb1 {
    height:60%;
    width: 10%;
    background-color: var(--building-color4);
}

.fb2 {
    height: 40%;
    width: 10%;
    background-color: var(--building-color3);
}

.fb3 {
    height: 35%;
    width: 10%;
    background-color: var(--building-color1);
}

.fb4 {
    height: 45%;
    width: 8%;
    background-color: var(--building-color1);
    position: relative;
    left: 10%;
}

.fb5 {
    height: 33%;
    width: 10%;
    background-color: var(--building-color2);
    position: relative;
    right: 10%;
}

.fb6 {
    height: 38%;
    width: 9%;
    background-color: var(--building-color3);
}