* {
    border: 1px solid black;
    box-sizing: border-box;
}

body {
    /* make body fill whole viewport */
    height: 100vh;
    /* remove default margin */
    margin: 0;
    /* hide scroll bars that appear when something extends past viewport */
    overflow: hidden;
}

.background-buildings {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.bb1 {
    height: 70%;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    --building-color1: #aa80ff;
    --building-color2: #66cc99;
}

.bb1a {
    height: 10%;
    width: 70%;
    background-color: var(--building-color1);
}

.bb1b {
    height: 10%;
    width: 80%;
    background-color: var(--building-color1);
}

.bb1c {
    height: 10%;
    width: 90%;
    background-color: var(--building-color1);
}

.bb1d {
    height: 70%;
    width: 100%;
    background-color: var(--building-color1);
}

.bb2 {
    height: 50%;
    width: 10%;
    background-color: var(--building-color2, green);
}

.bb3 {
    height: 55%;
    width: 10%;
}

.bb4 {
    height: 58%;
    width: 11%;
}